// dims
$default_padding: 8px;
$default_margin: $default_padding;
$default_radius: $default_padding / 1.5;
$default_font_size: 14;

// screen width
$screen-xs: 768px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// color
$gray: #ccc;
$white: #fff;
$primary: rgb(97, 97, 253);

// text color
$text_white: $white;

// text size
$text_default_size: 14px;

export {
  $default_font_size: $default_font_size
}



