@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
// dims
$default_padding: 8px;
$default_margin: $default_padding;
$default_radius: $default_padding / 1.5;
$default_font_size: 14;

$left_navs_width: 240px;

// screen width
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;

// color
$gray: $gray-500;
$white: $white;
$primary: $primary;
$dark: #333;
$default_bg: #f0f0f0;

// text color
$text_white: $white;
$text_dark: $dark;

// text size
$text_default_size: 14px;

:export {
  defaultFontSize: $default_font_size;
  screenSm: $screen_sm;
  screenMd: $screen_md;
}
