// dims
$default_padding: 8px;
$default_margin: $default_padding;
$default_radius: $default_padding / 1.5;

// color
$gray: #ccc;
$white: #fff;
$primary: #337ab7;

// text color
$text_white: $white;

// text size
$text_default_size: 14px;
